/* PendingLeave.css */
.pending-leave-container {
    overflow-y: auto;
    max-height: 500px;
    margin-top: 100px; /* Adjust the margin as needed */
  }
  
  .pending-leave-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .pending-leave-table th,
  .pending-leave-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pending-leave-table th {
    background-color: #53a8b6;
    color: white;
  }
  
  .view-button {
    background: #53a8b6;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  /* You can add more styles specific to PendingLeave if needed */